.project-container{
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    /* height: 600px; */
    margin-bottom: 40px;


}

.project-cards{
    display: flex;
    text-align: row;
    justify-content: space-between;
    margin: auto;
    gap: 10px;
    width:90%;
    padding: 1em;

}
.project-img{
    width:100%;
    height: 400px;
}

.dialog-img{
    width:60%;
    height: 50%;

}

span.project-details>*{
    padding: 5px;
}




.single-project-dialog{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 860px;
    margin: auto;
    padding: 1em;
}

