@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    width: auto;
    height: auto;
    font-family: Spartan,'Courier New', Courier, monospace;

  }
  

.name-nav, h1{
    text-transform: uppercase;
    color: black;

}

.media-icon{
    padding: 2px;
    width: 20px;
    height: 20px; 
    margin-top: 0;
}

a{
    padding: .5em;
    font-size: 15px;

}
a:hover{
    color: #BF4D36;
    cursor: pointer;
    text-decoration: solid;

}



  @media screen and (min-width: 0) and (max-width: 1539px) and (orientation: landscape){
    #app, #main-body {
        width: 100%;

    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
}}